[Unit]
Description=ip-monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/ip-monitor -c /etc/ip-monitor/config.json
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
